.accordion {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  color: #444;
  padding: 18px;
  width: 90%;
  box-shadow: 3px 3px 2.8px #888888;
  border-radius: 2rem;
  border: none;
  outline: none;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  height: auto;
  max-height: 600px;
}

.active,
.accordion:hover {
  background-color: white;
}
.accordionHeader {
  display: flex;
  justify-content: space-between;
}
.accordionTitle {
  display: flex;
  justify-content: space-between;
}
.customRadio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  border: 2px solid blue;
  border-radius: 200px;

  width: 25px;
  height: 25px;
}
.checkedRadio {
  margin: auto;
  align-self: center;
  justify-self: center;
  border-radius: 10px;
  width: 15px;
  height: 15px;
  margin: auto;
}
/* CSS rules for opened Panel  */
.panel.open {
  max-height: 500px;
  transition: 0.3s all ease-in;
}

/* CSS rules for closed Panel */
.panel {
  max-height: 0;
  transition: 0.3s all ease-out;
  overflow: hidden;
}

.basicArrow {
}
.rotatedArrow {
}
